name: Build
on: [push, pull_request]

jobs:
  build-windows:
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Add MSVC tools to PATH
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build
        run: "cl /std:c++20 /EHsc /W4 /O2 /Febuild/convert /Fobuild/convert /DEBUG /Zi src/main.cpp"

      - name: Extract Short Commit Hash
        id: extract
        shell: bash
        run: echo commit=$(git rev-parse --short HEAD) >> $GITHUB_OUTPUT

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: titanfall_map_converter-windows-${{ steps.extract.outputs.commit }}
          path: |
            build/

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        run: make

      - name: Extract Short Commit Hash
        id: extract
        shell: bash
        run: echo commit=$(git rev-parse --short HEAD) >> $GITHUB_OUTPUT

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: titanfall_map_converter-linux-${{ steps.extract.outputs.commit }}
          path: |
            build/